$light: #F5F7FA;
// $green: #5BE7C4;
$blue: #466eb0;
$violet: #7A57D1;
$font: #1a1a1a;

$green: #18ba60;
$green-2: #30c670;
$orange: #fd8c4a;
$red: #f94e4e;
$red-2: #f94d41;

$grey-lighten-1: #BDBDBD;
$grey-darken-1: #757575;
$green-darken-1: #43A047;
$amber-lighten-1: #FFCA28;
$amber-accent-3: #FFC400;
$orange-accent-3: #FF9100;
$red-darken-1: #E53935;
